.mainContainer{
    width: 100%;
    height: 100vh;
 }
 .cardsContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 1rem;
    place-items: center;
 }
 
 