.container{
    height: auto;
    width: 15rem;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}
.imagebox{
    height: 15rem;
    width: 100%;
    /* border: 2px solid blue; */
}
.imageboxImg{
    height: 100%;
    width: 100%;
}
.descBox{
    font-weight: bold;
    color: #212121;
    text-align: center;
}
.descrBox{
    font-weight: bold;
    color:#b2365e;
    text-align: center;
}
.qtyBox{
    height: 2rem;
    width: 10rem;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fb641b;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.qtyBox:hover{
    cursor: pointer;
}

.addtocartBox{
    height: 2rem;
    width: 10rem;
    background-color: #fb641b;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.addtocartBox:hover{
    cursor: pointer;
}

.placeorderBox:hover{
    cursor: pointer;
}