.container{
    height: 30rem;
    width: 15rem;
    border: 1px solid red;
}
.imagebox{
    height: 15rem;
    width: 100%;
    /* border: 2px solid blue; */
}
.imageboxImg{
    height: 100%;
    width: 100%;
}
.descBox{
    font-weight: bold;
    color: #212121;
}
.qtyBox{
    height: 3rem;
    width: 10rem;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fb641b;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.qtyBox:hover{
    cursor: pointer;
}