.container{
    height: 35rem;
    width: 50%;
    margin: auto;
    border: 1px solid rgb(141, 141, 206);
    margin-top: 2rem;
    display: flex;
    border-radius: 10px;
    gap: 2rem;
}
.firstcontainer{
    height: 100%;
    width: 30%;
    /* border: 1px solid blue; */
    background-color: #2874f0;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.secondcontainer{
    height: 100%;
    width: 50%;
    /* border: 1px solid blue; */
}
.inputcontainer{
    width: 100%;
}