.container{
    /* height: 32rem; */
    width: 50%;
 
    margin: auto;
    border: 1px solid rgb(141, 141, 206);
    margin-top: 0.5rem;
   
    border-radius: 10px;

    background-image: url("https://www.imageshine.in/uploads/gallery/Pink-Color-Background-images-free-download.jpg");

padding: 1rem;
}

.childContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn{
    display: flex;
    gap: 1rem;
}
.heading{
    display: flex;
   
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}
.firstcontainer{
    display: flex;
   
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -0.5rem;
}